EXPO_PUBLIC_SUPABASE_ANON_KEY=""
EXPO_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
POSTGRES_DATABASE="postgres"
POSTGRES_HOST="127.0.0.1:54322"
POSTGRES_PASSWORD="postgres"
POSTGRES_PRISMA_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
POSTGRES_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
POSTGRES_URL_NON_POOLING="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
POSTGRES_USER="postgres"
SUPABASE_ANON_KEY=""
SUPABASE_DB_PASSWORD="postgres"
SUPABASE_JWT_SECRET="super-secret-jwt-token-with-at-least-32-characters-long"
SUPABASE_SERVICE_ROLE_KEY="eyhbGciOiJIUzIlNiIsInR5cCI61kpXVCJ9.eyJpc3M101JzdXBhYmFzZS1kZW1viwicm9sZS161nNLcnZpY2Vfcm9sZSIsImV4cCI6MTk4MzgxMjk5Nn0.EGIM96RAZx351JzdJsyH-qQwv8Hd7fsn3W0YpN81TU"
SUPABASE_URL="http://127.0.0.1:54321"
DB_PASSWORD="postgres"
